*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

/* Macro Layout */
.cont-top{
    height: calc(100vh - 80px);
}

.cont-bot{
    background-color: #282828;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.cont-row{
    display: flex;
    width: 100%;
    height: 100%;
}

.cont-nav{
    background-color: #000000;
    width: 50px;
    height: 100%;
}

.cont-main{
    display: flex;
    background-color: #141922;

    width: calc(100% - 50px);
    height: 100%;
}

nav{
    width: 100%;
    height: 100%;
    overflow-y: clip;
}

#upgrade{
    background-color: #080b12a0;
    width: calc(100% - 50px);
    height: 70px;

    position: fixed;
    top: 0;
}

main{
    width: 100%;
    margin-top: 70px;

    overflow-y: scroll;
}

footer{
    width: 100%;
    height: 100%;
}

                /* FLEX LAYOUT */

/* Layout Flex Nav */
nav .container{
    width: 100%;
    height: 100%;
    padding: 5px;
}

nav .row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav .col{
    width: 40px;
}

/* layout Flex Main */

main .container{
    width: calc(100% - 40px);
    margin: 0 auto;
}

main .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main .col{
    width: calc(100% / 2 - 20px);
    margin: 10px;
}

main .col:first-child{
    width: 100%;
    height: auto;
}

/* layout Flex Player (Footer) */
footer .container{
    width:100%;
    height: 100%;
}

footer .row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col{
    height: 100%;
    padding: 10px 5px;
}

                /* ITEMS */

        /* Items Vertical Navigation Bar */

/* Navigation Bar */
nav .row .col img{
    padding: 7px;
}

nav .row .col:last-child img:last-child{
    border-radius: 50%;
    background-color: gray;
}

/* HOVER Navigation Bar*/
nav .row .col img:hover{
    cursor: pointer;
}

/* Hidden Navigation Bar */
.hidden-nav,
.bott-hidden-nav{
    display: none;
}

#logo{
    width: 80%;
    padding-bottom: 30px;
}

.hidden-nav .ul-scroll{
    max-height: 35vh;
    overflow-y: scroll;
}

.hidden-nav ul li div{
    display: inline;
    vertical-align: middle;
}

.hidden-nav ul li{
    color: gray;
}

.hidden-nav ul:last-child li{
    line-height: 40px;
}

.hidden-nav img{
    width: 40px;
    vertical-align: middle;
}

.hidden-nav ul li i{
    background-color: gray;
    color: black;
    padding: 10px;
}

/* HOVER Bottom Hidden Navigation Bar */
.hidden-nav ul li:hover,
.bott-hidden-nav div:hover{
    cursor: pointer;
    color: white;
}

/* Bottom Hidden Navigation Bar */
.bott-hidden-nav div:first-child{
    color: gray;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    line-height: 40px;
}

.bott-hidden-nav div:first-child #img-download{
    filter: invert(50%);
    vertical-align: middle;     
    width: 20px;

    padding: unset;
}

.bott-hidden-nav div:first-child div{
    vertical-align: middle;
    display: inline;
}

.bott-hidden-nav div:last-child img{
    width: 35px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: gray;
    padding: unset;
}

.bott-hidden-nav div:last-child div{
    display: inline;
    color: white;
    vertical-align: middle;
    padding-left: 10px;
}

        /* Items Container Main Content */

/* Upgrade Button Bar */
#upgrade div:first-child{
    position: absolute;
    right: 15px;
    padding: 10px 35px;
    margin: 15px 0;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 13px;
}

/* HOVER Button */
#upgrade div:first-child:hover{
    font-size: 15px;
    cursor: pointer;
}

/* List Menu */
main .row ul{
    list-style: none;
    text-align: center;
}

main .row ul li{
    display: inline;
    padding: 0 5px;
    font-size: 10px;
    color: gray;
}

/* Hover List */
main .row ul li:hover{
    color: white;
    cursor: pointer;
}


/* Main Content */
main .row h3{
    font-size: x-large;
}

main .row h3,
main .row h4{
    color: white;
    
}

main .row h4{
    margin-top: 10px;
}

main .row p{
    
    color: gray;
}

main .row .col .card{
    text-align: center;
}

main .row:last-child .col img{
    border-radius: 50%;
}

/* HOVER Cards */
main .row .col .bg-overlay{
    display: none;
    background-color: rgba(16, 16, 16, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main .row .col .play-overlay{
    display: none;
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .row .col .cont-overlay:hover .bg-overlay,
main .row .col .cont-overlay:hover .play-overlay{
    display: block;
    cursor: pointer;
}

        /* Items Container Player (Footer) */

footer .row .col{
    display: flex;
    align-items: center;
}

footer .row .col:nth-child(2){
    flex-direction: column;
}

footer .row .left-player{
    min-width: 130px;
}

footer .row .middle-player{
    width: 330px;
}

footer .row .right-player{
    width: 200px;
}

/* LEFT Container Player */
footer .row .left-player .player-song{
    width: 30px;
}

footer .row .left-player .player-text{
    width: 45px;
    font-size: 10px;
    margin-left: 5px;
}

footer .row .left-player .player-icon{
    width: 15px;
    font-size: 15px;
    margin-left: 15px;
}

/* HOVER Left Container Player */
footer .row .left-player .player-icon i:hover{
    color: white;
    cursor: pointer;
}

/* MIDDLE Container Player */
footer .row .middle-player div:first-child{
    width: 145px;
    padding-bottom: 5px;
}

footer .row .middle-player i{
    color: white;
    font-size: 15px;
    padding: 0px 5px;
    vertical-align: middle;
}

footer .row .middle-player #play{
    font-size: 24px;
}

footer .row .middle-player hr:first-child{
    position: absolute;
    height: 7px; 
    width: 100%; 
    background-color: gray; 
    border-radius: 25px; 
}

footer .row .middle-player #green-bar{
    position: absolute;
    height: 7px; 
    width: 40%; 
    background-color: white; 
    border-radius: 25px; 
}

footer .row .middle-player #circle{
    display: none;
    font-size: 15px;
    position: absolute;
    bottom: -11px;
    left: 36%;
}

footer .row .middle-player span{
    color: white;
    height: 7px;
    font-size: 10px;
}

/* HOVER Middle Container Player */
footer .row .middle-player #play:hover{
    font-size: 26px;
    cursor: pointer;
}

footer .row .middle-player .hidden-bar:hover{
    cursor: pointer;
}

footer .row .middle-player .hidden-bar:hover #green-bar {
    background-color: greenyellow;
}

footer .row .middle-player .hidden-bar:hover #circle{
    display: block;
}

/* RIGHT Container Player */
footer .row .right-player i{
    color: white;
    font-size: 15px;
    padding: 0 4px;
    vertical-align: middle;
}

footer .row .right-player hr:first-child{
    position: absolute;
    height: 7px; 
    width: 100%; 
    background-color: gray; 
    border-radius: 25px; 
}

footer .row .right-player #green-bar{
    position: absolute;
    height: 7px; 
    width: 25%; 
    background-color: white; 
    border-radius: 25px; 
}

footer .row .right-player #circle{
    display: none;
    font-size: 15px;
    position: absolute;
    bottom: -1px;
    left: 19%;
}

/* HOVER Right Container Player */
footer .row .right-player .hidden-bar:hover{
    cursor: pointer;
}
footer .row .right-player .hidden-bar:hover #green-bar {
    background-color: greenyellow;
}

footer .row .right-player .hidden-bar:hover #circle{
    display: block;
}

/* Reusable class */
.d-flex{
    display: flex;
}

.margin-l-r-20{
    margin: 0 20px;
}

.margin-t-20px{
    margin-top: 20px;
}

.reset-list{
    list-style: none;
}

.padding-t-20px{
    padding-top: 20px;
}

.padding-10{
    padding: 10px;
}

.padding-l-r-7{
    padding: 0 7px;
}

.relative{
    position: relative;
}

/* Texts */
.text-white{
    color: white;
}

.text-gray{
    color: gray;
}

.bold{
    font-weight: bold;
}



@media  screen and (min-width: 576px) {
    /* Macro layout */
    .cont-main{
        width: calc(100% - 210px);
    }
    
    #upgrade{   
        width: calc(100% - 210px);
    }
    
    /* Flex layout */
    .cont-nav{
        width: 210px;
    }
    
    nav .col{
        width: 200px;
    }
    
    footer .row .left-player {
        min-width: 160px;
      }

    /* Items Navigation Bar */
    .visibile-nav{
        display: none;
    }

    .hidden-nav,
    .bott-hidden-nav{
        display: block;
    }

    /* Items Container Player (Footer) */
    footer .row .left-player .player-text {
        width: 65px;
    }

    footer .row .left-player .player-song {
        width: 40px;
    }

    footer .row .middle-player div:first-child {
        width: 175px;
    }

    footer .row .middle-player #play{
        font-size: 35px;
      }

    footer .row .middle-player i {
        font-size: 20px;
    }

    /* Hover Container Player (Footer) */
    footer .row .middle-player #play:hover{
        font-size: 37px;
    }
}

@media  screen and (min-width: 768px) {
    /* Flex layout */
    main .col{
        width: calc(100% / 4 - 20px);
    }

    /* Items Container Player (Footer) */
    footer .row .left-player .player-icon {
        width: 35px;
    }
}

@media  screen and (min-width: 991px) {
    /* Flex layout */
    main .col{
        width: calc(100% / 6 - 20px);
    }
}