*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

/* Macro Layout */
.cont-top{
    height: calc(100vh - 80px);
}

.cont-bot{
    background-color: #282828;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.cont-row{
    display: flex;
    width: 100%;
    height: 100%;
}

.cont-nav{
    background-color: #000000;
    width: 50px;
    height: 100%;
}

.cont-main{
    display: flex;
    background-color: #141922;

    width: calc(100% - 50px);
    height: 100%;
}

nav{
    width: 100%;
    height: 100%;
    overflow-y: clip;
}

#upgrade{
    background-color: #080b12a0;
    width: calc(100% - 50px);
    height: 70px;

    position: fixed;
    top: 0;
}

main{
    width: 100%;
    margin-top: 70px;

    overflow-y: scroll;
}

footer{
    width: 100%;
    height: 100%;
}

                /* FLEX LAYOUT */

/* Layout Flex Nav */
nav .container{
    width: 100%;
    height: 100%;
    padding: 5px;
}

nav .row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav .col{
    width: 40px;
}

/* layout Flex Main */

main .container{
    width: calc(100% - 40px);
    margin: 0 auto;
}

main .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main .col{
    width: calc(100% / 2 - 20px);
    margin: 10px;
}

main .col:first-child{
    width: 100%;
    height: auto;
}

/* layout Flex Player (Footer) */
footer .container{
    width: calc(100% - 20px);
    height: 100%;
    margin: 0 10px;
}

footer .row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col{
    background-color: aqua;
    height: 50px;

    width: 150px;
}

                /* ITEMS */

    /* Items Vertical Navigation Bar */

/* Navigation Bar */
nav .row .col img{
    padding: 7px;
}

nav .row .col:last-child img:last-child{
    border-radius: 50%;
    background-color: gray;
}

/* Hidden Navigation Bar */
.hidden-nav,
.bott-hidden-nav{
    display: none;
}
#logo{
    width: 80%;
    padding-bottom: 30px;
}

.hidden-nav .ul-scroll{
    max-height: 30vh;
    overflow-y: scroll;
}
.hidden-nav ul li div{
    display: inline;
    vertical-align: middle;
}

.hidden-nav ul li{
    color: gray;
}

.hidden-nav ul:last-child li{
    line-height: 40px;
    padding-left: 7px; 
}

.hidden-nav img{
    width: 40px;
    vertical-align: middle;
}

/* Bottom Hidden Navigation Bar */

.bott-hidden-nav div:first-child{
    color: gray;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    line-height: 40px;
}

.bott-hidden-nav div:first-child img:first-child{
    filter: invert(50%);
    vertical-align: middle;     
    width: 20px;

    padding: unset;
}

.bott-hidden-nav div:first-child div{
    vertical-align: middle;
    display: inline;
}

.bott-hidden-nav div:last-child img{
    width: 35px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: gray;
    padding: unset;
}

.bott-hidden-nav div:last-child div{
    display: inline;
    color: white;
    vertical-align: middle;
    padding-left: 10px;
}

    /* Items Container Main Content */

/* Upgrade Button Bar */
#upgrade div:first-child{
    position: absolute;
    right: 15px;
    padding: 10px 35px;
    margin: 15px 0;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 13px;
}

/* Hover Button */
#upgrade div:first-child:hover{
    font-size: 15px;
    cursor: pointer;
}

/* List Menu */
main .row ul{
    list-style: none;
    text-align: center;
}

main .row ul li{
    display: inline;
    padding: 0 5px;
    font-size: 10px;
    color: gray;
}

/* Hover List */
main .row ul li:hover{
    color: white;
    cursor: pointer;
}


/* Main Content */
main .row h3{
    font-size: x-large;
}

main .row h3,
main .row h4{
    color: white;
    
}

main .row h4{
    margin-top: 10px;
}

main .row p{
    
    color: gray;
}

main .row .col .card{
    text-align: center;
}

main .row:last-child .col img{
    border-radius: 50%;
}

/* Hover Cards */
main .row .col .bg-overlay{
    display: none;
    background-color: rgba(16, 16, 16, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main .row .col .play-overlay{
    display: none;
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .row .col .cont-overlay:hover .bg-overlay,
main .row .col .cont-overlay:hover .play-overlay{
    display: block;
    cursor: pointer;
}

/* Reusable class */

.margin-l-r-20{
    margin: 0 20px;
}

.reset-list{
    list-style: none;
}

.padding-t-20px{
    padding-top: 20px;
}

.padding-10{
    padding: 10px;
}

.relative{
    position: relative;
}

/* Texts */
.text-white{
    color: white;
}




@media  screen and (min-width: 576px) {
    /* Macro layout */
    .cont-main{
        width: calc(100% - 210px);
    }

    #upgrade{   
        width: calc(100% - 210px);
    }

    /* Flex layout */
    .cont-nav{
        width: 210px;
    }

    nav .col{
        width: 200px;
    }

    /* Items Navigation Bar */
    .visibile-nav{
        display: none;
    }

    .hidden-nav,
    .bott-hidden-nav{
        display: block;
    }
}

@media  screen and (min-width: 768px) {
    /* Flex layout */
    main .col{
        width: calc(100% / 4 - 20px);
    }
}

@media  screen and (min-width: 991px) {
    /* Flex layout */
    main .col{
        width: calc(100% / 6 - 20px);
    }
}


